* {
    margin: 0;
    padding: 0;
}

.quem-somos {
    background-color: deeppink;
}

.projetos {
    background-color: darkviolet;
}

.contato {
    background-color: darkred;
}

.nosso-time {
    background-color: darkgreen;
}

.trabalhe-conosco {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-top: 100%; 
    padding-bottom: 50px;
}

.redes-sociais {
    
    display: flex;
}

.cases {
    background-color: darkgoldenrod;
}

.onde-estamos {
    background-color: brown;
}

.faqs {
    background-color: blue;
}

.promos {
    background-color: aqua;
}